<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}

 <!-- FAVICON -->
<link rel="icon" href="http://demo.deviserweb.com/cv/assets/images/favicon.ico">
<link rel="apple-touch-icon" sizes="72x72" href="http://demo.deviserweb.com/cv/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="http://demo.deviserweb.com/cv/assets/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://demo.deviserweb.com/cv/assets/images/apple-icon-114x114.png">
<!-- ========================================
		Stylesheets
==========================================--> 
<!-- MATERIALIZE CORE CSS -->
<link href="./cvassets/materialize.min.css" rel="stylesheet">
<!-- FONTS -->
<link href="./cvassets/css" rel="stylesheet" type="text/css">
<!-- CUSTOM STYLE -->
<link href="./cvassets/style.css" rel="stylesheet">        
<!-- RESPONSIVE CSS-->
<link href="./cvassets/responsive.css" rel="stylesheet">

<!-- COLORS -->        
<link rel="alternate stylesheet" href="http://demo.deviserweb.com/cv/assets/css/colors/red.css" title="red" disabled="">
<link rel="alternate stylesheet" href="http://demo.deviserweb.com/cv/assets/css/colors/purple.css" title="purple" disabled="">
<link rel="alternate stylesheet" href="http://demo.deviserweb.com/cv/assets/css/colors/orange.css" title="orange" disabled="">
<link rel="alternate stylesheet" href="http://demo.deviserweb.com/cv/assets/css/colors/green.css" title="green" disabled="">
<link rel="stylesheet" href="./cvassets/lime.css" title="lime">
<!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
<link rel="stylesheet" href="./cvassets/demo.css">

</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include header.html %}

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

{% include scripts.html %}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

</body>
</html>